.em,.pw{
    background-color:  #c9c9c9;
}
.form-control::placeholder {
  color: white;
}

.cut-text { 
  line-height: 2rem;
  max-height: 8rem;
  max-width: 16rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; 
};